@model IEnumerable<AppUser>
<table class="table table-sm table-bordered" >
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Role</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model){
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Email</td>
                <td>
                    <a asp-controller="Admin" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary btn-sm" >Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>