@model TicketListViewModel
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<table class="table table-sm table-bordered" >
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(m => m.Tickets[0].Title)</td>
            <td>@Html.DisplayNameFor(m => m.Tickets[0].Description)</td>
            <td>@Html.DisplayNameFor(m => m.Tickets[0].ticketType)</td>
            <td>@Html.DisplayNameFor(m => m.Tickets[0].ticketPriority)</td>
            <td>@Html.DisplayNameFor(m => m.Tickets[0].ticketStatus)</td>
            <td>@Html.DisplayNameFor(m => m.Tickets[0].CreatedAt)</td>
            <td>@Html.DisplayNameFor(m => m.Tickets[0].AssignedToUsers)</td>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var ticket in Model.Tickets){
            <form asp-action="EditAssigned"  method="post">
                <input type="hidden" value="@ticket.Id" name="Id">
            <tr>
                <td>@ticket.Title</td>
                <td>@ticket.Description</td>
                <td>@ticket.ticketType</td>
                <td>@ticket.ticketPriority</td>
                <td>@ticket.ticketStatus</td>
                <td>@ticket.CreatedAt</td>
                <td>
                    @foreach(var opt in Model.Developers){
                    bool isChecked = ticket.AssignedToUsers != null && 
                    ticket.AssignedToUsers.Any(assignedDev => assignedDev.Id == opt.Id);
                    <input type="checkbox"
                    name="AssignedToUsers" 
                    value="@opt.Id" 
                    id="AssignedToUsers_@opt.Id"
                    @(isChecked ? "checked" : "")
                    >
                    <label " >@opt.UserName</label>
                    <br>
                    }
                    
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Kaydet</button>
                </td>
            </tr>
            </form>
        }
        
    </tbody>
    
</table>