@model TicketListViewModel
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<table class="table table-sm table-bordered" >
    <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>ticketType</td>
            <td>ticketPriority</td>
            <td>ticketStatus</td>
            <td>CreatedAt</td>
            <td>AssignedToUser</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var ticket in Model.Tickets){
            <form asp-action="EditAssigned"  method="post">
                <input type="hidden" value="@ticket.Id" name="Id">
            <tr>
                <td>@ticket.Title</td>
                <td>@ticket.Description</td>
                <td>@ticket.ticketType</td>
                <td>@ticket.ticketPriority</td>
                <td>
                    
                        <select name="ticketStatus" id="ticketStatus">
                            <option value="" disabled selected>Durum:@ticket.ticketStatus</option>
                            @foreach(var opt in Enum.GetValues(typeof(TicketStatus)))
                            {
                                <option value="@opt">@opt</option>
                            }
                        </select>
                    
                </td>
                <td>@ticket.CreatedAt</td>
                <td>
                    @foreach(var opt in Model.Developers){
                    <input type="checkbox" name="AssignedToUserId" value="@opt.Id" id="AssignedToUserId">
                    <label for="AssignedToUserId" >@opt.UserName</label>
                    }
                    
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Kaydet</button>
                </td>
            </tr>
            </form>
        }
        
    </tbody>
    
</table>