@model IEnumerable<Tickets>

<table class="table table-sm table-bordered" >
    <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>ticketType</td>
            <td>ticketPriority</td>
            <td>ticketStatus</td>
            <td>CreatedAt</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var ticket in Model){
            <form asp-action="Edit"  method="get">
                <input type="hidden" value="@ticket.Id" name="Id">
            <tr>
                <td>@ticket.Title</td>
                <td>@ticket.Description</td>
                <td>@ticket.ticketType</td>
                <td>@ticket.ticketPriority</td>
                <td>@ticket.ticketStatus</td>
                <td>@ticket.CreatedAt</td>
                <td>
                    <button class="btn btn-primary" asp-action="Detail" asp-controller="Developer"  asp-route-id ="@ticket.Id" type="submit">Detay</button>
                </td>
            </tr>
            </form>
        }
        
    </tbody>
    
</table>